<!DOCTYPE html>
<html dir="rtl">
  <head>
    <title>ارسال ایمیل بازیابی با موفقیت انجام شد</title>
  </head>
  <body>
    <div style="font-family: sahel; text-align: center;">
      <h1>تقاضای ریست رمز فرستاده شد</h1>
      <p>دستورالعمل تغییر گذرواژه را برایتان ارسال کردیم. اگر با ایمیلی که وارد کردید اکانتی وجود داشته باشد باید به زودی این دستورالعمل ها را دریافت کنید.</p>
      <p>اگر ایمیلی دریافت نمیکنید لطفا بررسی کنید که آدرسی که وارد کرده اید همان است که با آن ثبت نام کرده اید</p>
    </div>
  </body>
</html>
